@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');


html {
    scroll-behavior: smooth;
  }
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}
body{
    background-color: black;
}
video
{
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    height: 100%;
    width: 100%;
    opacity: 0.3;
}


.video-wrapper
{
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.logo
{
    font-size: 30px;
}

.header
{
    height: 100vh;
    width: 100%;
    color: white;
    text-decoration-color: white;
    position: relative;
    
}

nav{
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
    padding-left: 8%;
    padding-right: 8%;
   
}
span
{
    color:rgb(59, 142, 0);
}
nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px;
}
nav ul li a{
    text-decoration: none;
    color: white;
    transition: .4s;
    font-size: 20px;
}
nav ul li a:hover{
    text-decoration: none;
    color: rgb(147, 147, 147);
    
}
.home
{
    height: 85vh;
    width: 100%;
}
.home h2{
    display: inline-block;
    position: relative;
    top: 35%;
    font-size: 50px;
}
.home section{
    display: inline-block;
    position: relative;
    top: 40%;
    width: 30%;
    text-align: center;
    font-style: italic;
    font-size: 20px;
    line-height: 30px;
}
.project1
{
    display: flex;
    width: 100%;
    height: 100vh;
    color: black;
    
    
    background-color:black;
}
.project1 a
{
    text-decoration: none;
    color:white;
}
.project1 h1
{
    font-size: 40px;
    margin-bottom: 5vh;
}
.project1 section
{
    font-size: 20px;
}
footer{
    text-align: center;
    color:white;
    font-size: 20px;
    font-weight: 200;
    height: 5vh;
}
.project2
{
    width: 100%;
    height: 100vh;
    color: white;
    background-color: black;
}
.project2 a
{
    text-decoration: none;
    color:white;
}
.project2 h1
{
    font-size: 40px;
}
.project2 section
{
    font-size: 20px;
}

.contact
{
    width: 100%;
    height: 95vh;
    color: white;
    text-align: center;
    padding-top: 15vh;
    
}
.contact h1
{
    font-size: 50px;
    padding-bottom: 5vh;
    
}
input[type=text]
{
    
    border-radius: 4px;   
    font-size: 20px; 
    
}

input[type=email]
{
    
    border-radius: 4px;
    
    font-size: 20px;
}



#myBtn {
    display:none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 3vh; /* Place the button at the bottom of the page */
    right: 3vw; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: 2px solid black; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: rgb(255, 0, 0);
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius:25%; /* Rounded corners */
    font-size: 18px; /* Increase font size */
    transition: .3s;
  }
  
    #myBtn:hover {
    background-color: rgb(59, 142, 0);
    transform: scale(1.1);
    }
    .left
    {
    width: 65vw;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(59, 142, 0);
    
    border-right: 1px solid rgb(35, 83, 0);

    padding-top: 15%;
    padding-left: 25vh;
    padding-right: 25vh;
    }
    .left i
    {
        padding-top: 25px;
        font-size: 50px;
    }
    .left h1{
    font-size: 50px;
    }
    .left section{
    font-size: 25px;
    font-weight: 300;
    line-height: 40px;
    }
    .right
    {
    width: 35vw;
    display: flex;
    justify-content: center;
    align-items:center;
    
    font-size: 200px;
    color: green;
    background-image: url("media/photo_right.jpg");
    background-size: cover;
    background-size: auto 120%;
    background-repeat: no-repeat;
    opacity: 0.5;
    background-color: black;
    }
    .right img{
        
        height: 60%;
    }

    .project2
    {
        display: flex;
        width: 100%;
        height: 100vh;
        color: black;
        background-color:black;
    }
    .left2
    {
    width: 35vw;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    background-color: black;
    background-image: url("media/photo_left.jpg");
    background-repeat: no-repeat;
    background-size:auto 120%;
    opacity: 0.5;
    }
    .left2 a{
    color:rgb(59, 142, 0);
    }
    .right2
    {
    width: 65vw;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 200px;
    padding-top: 10vh;
    background-color: rgb(59, 142, 0);
    color: black;
    
    padding-left: 25vh;
    padding-right: 25vh;
    }

    .right2 h1{
    font-size: 50px;
    }
    .right2 section{
    padding-top: 15vh;
    font-size: 25px;
    font-weight: 300;
    line-height: 40px;
    }

    .contact ul{
    list-style-type: none;
    font-size: 30px;


    }
    .contact ul a{
    text-decoration: none;
    color: white;
    line-height: 10vh;
    }
    .contact i 
    {
        padding-right: 30px;

    }

    form{
    margin-top: 5vh;
    }
    input{
    margin-top: 10px;
    margin-bottom: 10px;
    outline: none;
    width: 25%;

    }
    #button
    {
    color:black;
    background-color:white;
    font-size: 20px;
    outline: none;
    box-sizing: border-box;
    border-radius:25%;
    border: 1px solid black;
    padding: 20px;
    margin-top: 30px;
    cursor: pointer;

    transition: .3s;
}
#button:hover{
    background-color:rgb(59, 142, 0);
    transform: scale(1.1);
}



.loader-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #000000;
  display:flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.loader {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: relative;
  border: 4px solid #Fff;
  animation: loader 2s infinite ease;
}
.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: #fff;
  animation: loader-inner 2s infinite ease-in;
}

@keyframes loader {
  0% { transform: rotate(0deg);}
  25% { transform: rotate(180deg);}
  50% { transform: rotate(180deg);}
  75% { transform: rotate(360deg);}
  100% { transform: rotate(360deg);}
}

@keyframes loader-inner {
  0% { height: 0%;}
  25% { height: 0%;}
  50% { height: 100%;}
  75% { height: 100%;}
  100% { height: 0%;}
}
/* Styling for smaller screen behaviour */
@media only screen and (max-width: 1400px) 
{
    nav ul li a{
        font-size: 15px;
    }
    .home h2{
        font-size: 25px;
    }
    .home section{
        font-size: 12px;
        line-height: 15px;
    }
    .fa-brands, .fa-solid
    {
        font-size: 50px;
    }
    .contact i
    {
        font-size: 30px;
       
    }
    .left i
    {
        padding-top: 25px;
        font-size: 25px;
    }
    .left section, .left,.right2,.right2 section{
        font-size: 15px;
        line-height: 20px;
        padding-left: 10px;
        padding-right: 10px;
        
    }
    .left h1, .right2 h1,.left section a,.right2 section a{
        font-size: 15px;
        padding-top: 10vh;
    }
    
    .right img{
        width: 80%;
        height: auto;
        display: flex;
        align-items: center;
    }
    .contact h1,a,li{
        font-size: 20px;
        
    }
    .contact{
        height:100vh;
    }
    
    #button
    {
        color:black;
        background-color:white;
        font-size: 13px;
        outline: none;
        box-sizing: border-box;
        border-radius:25%;
        border: 1px solid black;
        padding: 10px;
        margin-top: 30px;
        cursor: pointer;
        transition: .3s;
    }
#button:hover{
    background-color:rgb(59, 142, 0);
    transform: scale(1.1);
    }
input[type=email],input[type=text]
    {
        font-size: 15px;
    }
}